
*{
    padding: 0%;
    margin: 0%;
}
.footer{
    font-family: 'isocteur';
    width: 100%;
    margin-top: auto;
}
.top-footer{
    background-color: rgb(211, 204, 204);
    font-size: 13px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-titles{
    text-decoration: underline;
}
.footer-links{
    text-decoration: none !important;
    color: black !important;
}

.footer-category{
    padding-left: 10%;
    padding-right: 10%;
}
.footer-copyright{
    padding: 20px;
    color: rgb(175, 174, 174);
    background-color: #28231d;
}
.copyright{
    font-size: 0.6rem;
}

@media all and (min-width: 428px){
    .top-footer{
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media all and (min-width: 810px) {
    .top-footer{
        padding-left: 0%;
        padding-right: 0%;
    }
    
}
