*{
    padding: 0%;
    margin: 0%;
    font-family: 'isocteur';
}
.mobile-view, .mobile-vest-desc{
    background-color: #FFF3F3 !important;
}


.card{
    border: none;
    padding: 0px !important;
}
.breaks{
    background-color: #FFF3F3 !important;
}

